@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {

            // Initial Values
            var xValue = 0;
            var yValue = 10;
            var newDataCount = 6;
            dataPointsCpu = [];
            dataPointsRam = [];

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                title: {
                    text: "Live Air Quality Update"
                },
                axisX: {
                    suffix: "time",
                    //valueFormatString: "D MMMM",
                    interval: 15,
                    intervalType: "second"
                },
                axisY: {
                    suffix: "%",
                },
                data: [{
                    type: "spline",
                    dataPoints: dataPointsCpu,
                    name: "CpuLoading"
                },
                    {
                        type: "spline",
                        dataPoints: dataPointsRam,
                        name: "RamLoading"
                    }]
            });

            updateData();

            function addData(data) {
                if (newDataCount !== 1) {
                    //reverse для того, чтобы при первой итерации при добавлении новое значение соединялось с последним, а не с первым
                    $.each(data.reverse(), function (key, value) {
                        dataPointsCpu.push({ x: new Date(value.Year, value. Month, value.Day, value.Hour, value.Minute, value.Second), y: value.CpuLoading });
                        dataPointsRam.push({ x: new Date(value.Year, value.Month, value.Day, value.Hour, value.Minute, value.Second), y: value.RamLoading });
                    });
                    newDataCount = 1;
                } else {
                    dataPointsCpu.push({ x: new Date(data[0].Year, data[0].Month, data[0].Day, data[0].Hour, data[0].Minute, data[0].Second), y: data[0].CpuLoading });
                    dataPointsRam.push({ x: new Date(data[0].Year, data[0].Month, data[0].Day, data[0].Hour, data[0].Minute, data[0].Second), y: data[0].RamLoading })
                }
                chart.render();
                setTimeout(updateData, 5000);
            }

            function updateData() {
                $.post("/data/create");
                $.getJSON("/data/getlasts?count=" + newDataCount, addData);
            }

        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.canvasjs.com/jquery.canvasjs.min.js"></script>
</body>
</html> 